body{
    background-color: lightgray;
}
/* nav bar css */
nav {
    background-color: chocolate;
}

/* Change color of navbar brand */
.navbar-brand {
    color: #ffffff;
    /* Custom color (orange) */
}

/* Change color of navbar links */
.navbar-nav .nav-link {
    color: #ffffff;
    /* Custom color (yellow) */
}

/* Change color of navbar links when hovering */
.navbar-nav .nav-link:hover {
    color: #3f3f3f;
    /* White color when hovering */
}

/* Change color of the active navbar link */
.navbar-nav .nav-item .nav-link.active {
    color: #ffffff;
    /* Custom color (blue) for the active link */
}
/* end navbar css */
/* start section css  */
.section-background {
    margin: 0px 150px;
    background: url('/img/homePage.png') no-repeat center center;  /* Image URL */
    background-size: cover;                                  /* Make the background image cover the entire section */
    background-attachment: fixed;                         /* Optional: Fix the background image when scrolling */
    height: 100vh;                                           /* Make the section take up the full viewport height */
    display: flex;                                           /* Flexbox for centering content */
    justify-content: center;                                 /* Center horizontally */
    align-items: center;                                /* Center vertically */
    color: cornsilk;                                      /* Optional: Set text color to white if the background is dark */
    text-align: center;                                      /* Center text inside the container */
}
 .btn-chocolate{
    background-color:chocolate ;
    color: #ffffff;

}
/* end section css */

